*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  text-align: center;
  text-transform: capitalize;
  color: blue;
}
.fun{
  width: 20rem;
  height: 10rem;
  border: 2px solid black;
  border-top-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  margin:2rem auto;
  
  background-color: #ffc8dd;
}
.inner{
  border: 1px solid red;
  background-color:#2ec4b6 ;
  /* color: crimson; */
}
span{
  font-size: 1.5rem;
  padding: 0.5rem;
  color:#ff006e ;
}
.incre,.decre{
  width: 5rem;
  height: 2.7rem;
  outline: none;
  border: 2px solid red;
  border-radius: 1rem;
  background-color: green;
  color: white;
  cursor: pointer;

}
.decre{
  background-color: orange;
  margin: 1rem;
}